@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-8: #050505;
  --color-gray-7: #1f1f1f;
  --color-gray-6: #2d2d2d;
  --color-gray-5: #3a3a3a;
  --color-gray-4: #757575;
  --color-gray-3: #e9e9e9;
  --color-gray-2: #f4f4f4;

  --color-purple-main: #a445ed;
  --color-red-main: #ff5252;
}

@layer base {
  .font-h1 {
    @apply text-[32px] font-bold leading-[40px] md:text-[64px] md:leading-[68px] lg:leading-[77px];
  }

  .font-phonetic {
    @apply text-[18px] leading-[24px] md:text-[24px] md:leading-[29px];
  }

  .font-partOfSpeech {
    @apply text-[18px] font-bold italic leading-[22px] md:text-[24px] md:leading-[29px];
  }

  .font-h4 {
    @apply text-[16px] leading-[19px] md:text-[20px] md:leading-[24px];
  }

  .font-list {
    @apply text-[15px] leading-[24px] md:text-[18px];
  }

  .font-h5 {
    @apply text-[14px] leading-[17px];
  }
}
