@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-8: #050505;
  --color-gray-7: #1f1f1f;
  --color-gray-6: #2d2d2d;
  --color-gray-5: #3a3a3a;
  --color-gray-4: #757575;
  --color-gray-3: #e9e9e9;
  --color-gray-2: #f4f4f4;

  --color-purple-main: #a445ed;
  --color-red-main: #ff5252;
}

.text-heading-l {
  font-size: 64px;
  line-height: 77px;
}

.text-heading-m {
  font-size: 24px;
  line-height: 29px;
}

.text-heading-s {
  font-size: 20px;
  line-height: 24px;
}

.text-body-m {
  font-size: 18px;
  line-height: 24px;
}

.text-body-s {
  font-size: 14px;
  line-height: 17px;
}

.reset-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
